[alias]
	st = status
	amend = commit --amend
	dc = diff --cached
	tree = "log --oneline --decorate --all --graph"
	treeb = "log --oneline --decorate --graph --branches"
	changelog = "log --oneline --pretty=format:'%h | %s%d [%an]'"
[user]
	email = mattijs.korpershoek@gmail.com
	name = Mattijs Korpershoek
	signingKey = 2EE942A7B61F6ABE5313AD00190D1DB4664E1935
[merge]
	tool = vimdiff
	autoStash = true
[difftool]
	tool = vimdiff
[diff]
	tool = vimdiff
[color]
	ui = auto
[core]
	editor = vim
	abbrev = 12
[pretty]
	fixes = Fixes: %h (\"%s\")
	commit = commit %h (\"%s\")
[gitlab]
	user = makohoek
[format]
	cover-from-description = subject
[http]
	cookiefile = /home/mkorpershoek/.gitcookies
[am]
	threeWay = true

[github]
	user = makohoek
[rebase]
	autoStash = true
[pull]
	rebase = true

# redirects
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[url "git@gitlab.baylibre.com:"]
	insteadOf = https://gitlab.baylibre.com/

[gitlab "gitlab.baylibre.com/api/v4"]
	user = mkorpershoek

# Work specific configs
[includeIf "gitdir:~/work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:/mnt/work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:/mnt/linux-data/work/"]
	path = ~/.gitconfig-work
