[alias]
    st = status
    amend = commit --amend
    dc = diff --cached
    tree = "log --oneline --decorate --all --graph"
    treeb = "log --oneline --decorate --graph --branches"
    changelog = "log --oneline --pretty=format:'%h | %s%d [%an]'"
[user]
    email = mattijs.korpershoek@gmail.com
    name = Mattijs Korpershoek
[merge]
    tool = vimdiff
[difftool]
    tool = vimdiff
[diff]
    tool = vimdiff
[color]
    ui = true
[core]
    editor = vim
    abbrev = 12
[pretty]
    fixes = Fixes: %h (\"%s\")
[credential]
	helper = !pass-git-helper $@
[gitlab]
	user = makohoek
[format]
    cover-from-description = subject
[http]
    cookiefile = /home/makohoek/.gitcookies
[am]
    threeWay = true

# Work specific configs
[includeIf "gitdir:~/work/"]
    path = ~/.dotfiles-private/git/.gitconfig