[alias]
    st = status
    amend = commit --amend
    dc = diff --cached
    tree = "log --oneline --decorate --all --graph"
    treeb = "log --oneline --decorate --graph --branches"
    changelog = "log --oneline --pretty=format:'%h | %s%d [%an]'"
[user]
    email = mattijs.korpershoek@gmail.com
    name = Mattijs Korpershoek
[merge]
    tool = vimdiff
    autoStash = true
[difftool]
    tool = vimdiff
[diff]
    tool = vimdiff
[color]
    ui = true
[core]
    editor = vim
    abbrev = 12
[pretty]
    fixes = Fixes: %h (\"%s\")
[credential]
	helper = !pass-git-helper $@
[gitlab]
	user = makohoek
[format]
    cover-from-description = subject
[http]
    cookiefile = /home/makohoek/.gitcookies
[am]
    threeWay = true

# Work specific configs
[includeIf "gitdir:~/work/"]
    path = ~/.gitconfig-work
[includeIf "gitdir:/mnt/work/"]
    path = ~/.gitconfig-work
[github]
	user = makohoek
[rebase]
	autoStash = true
[pull]
	rebase = true
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/

[url "git@gitlab.baylibre.com:"]
	insteadOf = https://gitlab.baylibre.com/

[gitlab "gitlab.baylibre.com/api/v4"]
	user = mkorpershoek
