[submodule ".vim/bundle/vim-colors-solarized.git"]
	path = .vim/bundle/vim-colors-solarized.git
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule ".vim/bundle/YouCompleteMe"]
	path = .vim/bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
