# Ignore pyc files
*.pyc

# ignore tags
tags

# ignore vim plugged directory
.vim/plugged/

# this is where my dotfiles will live now
# https://developer.atlassian.com/blog/2016/02/best-way-to-store-dotfiles-git-bare-repo/
.cfg

# All MacOS base folders
Applications/
Desktop/
Documents/
Downloads/
Images/
Library/
Movies/
Music/
Parallels/
Pictures/
Public/

# MacOS temp files
.DS_Store

# history related
.bash_history
.cling_history
.javarepl.history
.python_history
.sh_history
.zsh_history

# parallel desktop
Applications (Parallels)/

# FZF related
# is installed by vim with :PlugInstall
.fzf.bash
.fzf.zsh
.fzf/

# python specifics
.pylint.d/
.tox/
.ipython/

# rust
.cargo
.rustup
.multirust

# js
.npm

# llvm debugger
.lldb

# java / android
.gradle
.android

# perl
.cpan

# ruby
.gem
