# Ignore pyc files
*.pyc

# ignore tags
tags

# ignore vim plugged directory
.vim/plugged/

# this is where my dotfiles will live now
# https://developer.atlassian.com/blog/2016/02/best-way-to-store-dotfiles-git-bare-repo/
.cfg
