! MakoHoek .Xresources
!
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:FiraCode:style=Medium:size=8:antialias=true
URxvt*boldFont: xft:FiraCode:style=Bold:size=8:antialias=true
!URxvt.letterSpace: -2
! Workaround for base16 colorscheme troubles
URxvt*intensityStyles:      false
URxvt*scrollBar: false
URxvt*saveLines: 10000
URxvt*termName: screen-256color
URxvt.urlLauncher:firefox
