[Unit]
Description=notmuch new to fetch email and re-index it
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
WorkingDirectory=/home/mkorpershoek/work/.email-lieer
ExecStart=/home/mkorpershoek/.local/bin/gmi sync