! MakoHoek .Xresources
!
URxvt*buffered: true
URxvt*cursorBlink: true
URxvt*font: xft:Hack:style=Medium:size=9:antialias=true
URxvt*boldFont: xft:Hack:style=Bold:size=9:antialias=true
!URxvt.letterSpace: -2
! Workaround for base16 colorscheme troubles
URxvt*intensityStyles:      false
URxvt*scrollBar: false
URxvt*saveLines: 10000
URxvt*termName: screen-256color
URxvt.urlLauncher:firefox

! for DPI stuff (dunst)
! Xft.dpi: 192
