[Unit]
Description=notmuch new to fetch email and re-index it
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
WorkingDirectory=/mnt/5c26050c-a7ac-42ba-a6e4-2bfe27686c4b/.email-lieer
ExecStart=/home/makohoek/.local/bin/gmi sync